<div class="fac-container">
    <!-- Header Section -->
    <div class="fac-header">
      <div class="policy-details">
        <div class="detail-box">
          <strong>Policy Number:</strong> 
          <span>
            <mat-form-field class="width">
              <input
                [readonly]="getTablePolicyData  ? true : false"
                matInput
                placeholder="Policy Number"
                aria-label="Policy"
                [matAutocomplete]="auto"
                [formControl]="policyControl"
                required
                (input)="validationPolicy($event)"
              />
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectPolicyNo($event.option.value)">
                <mat-option 
                  *ngFor="let policy of filteredPolicy | async"
                  [value]="policy" 
                >
                  <span>{{policy}}</span>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <mat-error *ngIf="policyNoValidation">Policy Number Already Exits</mat-error>
          </span>
        </div>
        <div class="detail-box">
          <strong>Idx:</strong> 
          <span class="text-align">{{getHeaderData && (getHeaderData.fh_POL_IDX) ?   getHeaderData?.fh_POL_IDX : getHeaderData?.ucsPolIdx}}</span>
        </div>

        <div class="detail-box">
          <strong>Endorsement Number:</strong> 
          <span class="text-align">{{getHeaderData &&  getHeaderData?.ucsEndNo || 'N/A'}}</span>
        </div>
        <!-- <div class="detail-box">
          <strong>Division & Department:</strong> 
          <span>10 - Phoenix, Motor</span>
        </div> -->
        <div class="detail-box">
          <strong>Start & End Date:</strong>
          <span class="text-align"> {{getHeaderData && getHeaderData.fh_FMD ? (getHeaderData?.fh_FMD | dateFormat) : (getHeaderData?.ucsFmd | dateFormat) }}  - {{getHeaderData && getHeaderData?.ucsTod ? (getHeaderData?.ucsTod | dateFormat) : (getHeaderData?.fh_TOD | dateFormat)}}</span>
        </div>
        <div class="detail-box">
          <strong>FAC Basis :</strong>
          <mat-form-field  class="fac-select" appearance="outline">
            <mat-select name="countryVaraible" [disabled]="getTablePolicyData  ? true : false"  [(ngModel)]="selectPolicy" (selectionChange)="selectPolicyMethod($event)">
              <mat-option *ngFor="let item of facBasic" [value]="item">
                {{item}}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </div>
        <div class="detail-box">
          <strong>FAC Percentage :</strong>
          <mat-form-field appearance="outline" class="fac-select" >
            <mat-label>FAC percentage</mat-label>
            <input matInput (selectionchange)="updatePercentageToAll()" [readonly]="getTablePolicyData  ? true : false" [(ngModel)]="facPercentage" placeholder="Enter percentage" type="text" />
          </mat-form-field>
          <mat-error *ngIf="(facPercentage && percentageValidationToAll?.percentage)">Participant Percentage should be between 0 and 100.</mat-error>
        </div>
      </div>
      <div class="options">
        <mat-checkbox class="custom-checkbox" [disabled]="getTablePolicyData  ? true : false" color="primary"  [(ngModel)]="isPresentAllRisk" checked>
          Percentage All Risk
        </mat-checkbox>
        <mat-checkbox class="custom-checkbox" [disabled]="getTablePolicyData  ? true : false" color="primary"  [(ngModel)]="isSinglePlacement" checked>
          Single Placement
        </mat-checkbox>
       
      </div>
      <div class="btn-container">
        <button 
        [disabled]="isButtonDisabled"
        (click)="sendToDashboardData()" 
        [ngClass]="isButtonDisabled ? 'process-btn-disable' : 'process-btn'">
        Fetch Details
      </button>
      
      <button *ngIf="!riBtn" class="back-btn" (click)="getPlacementData()">← Back to FAC Header</button>
      </div>
    </div>
  
  
    <!-- <div class="btn-container">
      <button *ngIf="!riBtn" class="back-btn" (click)="facPlacementBtn()">← Back to RI</button>
      <button *ngIf="riBtn" class="back-btn" (click)="facPlacementBtn()">FAC Placement Details →</button>
    <button  class="process-btn">
      Process →
    </button>
    </div> -->

    <!-- FAC Placement Details Form -->
    <div *ngIf="(!isParticipant && !isCommission && !isTax)" class="approve-container">
      <button class="approve-btn" (click)="openDeleteDialog()">Approve Placement</button>
    </div>
    
   
    <div *ngIf="!riBtn" class="placement-form">
  
        <mat-expansion-panel class="mat-panel"  *ngFor="let fac of getPlacement; let i = index"  [expanded]="true" 
        (opened)="onPanelOpenFacPlacement(i)">
          <mat-expansion-panel-header>
            <mat-panel-title> <span class="placement-heading">FAC Placement Details</span> </mat-panel-title>
            <!-- <mat-panel-description> Enter FAC placement-related details here.</mat-panel-description> -->
          </mat-expansion-panel-header>
          <div class="first-container">
            <div class="fac-details">
              <!-- <p class="fac-heading">Enter FAC placement-related details here.</p> -->
              <div class="facForm">
                  <div class="facPlacements">
                    <div class="form-group row">

                      <mat-form-field  appearance="outline" >
                        <mat-label>FAC Ref Number</mat-label>
                        <input readonly matInput [value]="fac.fpd_FAC_PLACE_REF_NO" placeholder="Enter Number" />
                      </mat-form-field>
                    

                      <mat-form-field appearance="outline">
                        <mat-label>FAC Placement Number</mat-label>
                        <input readonly matInput [value]="fac.fpd_PLACE_NO"  placeholder="Enter Number" />
                        <!-- <mat-error *ngIf="facPlacements.touched && facPlacements.dirty">Please Enter FAC Placement Number</mat-error> -->
                      </mat-form-field>
      
      
                      <mat-form-field appearance="outline">
                        <mat-label>UW SI </mat-label>
                        <input readonly matInput [value]="fac.fpd_SI" placeholder="Enter Percentage" />
                        <!-- <mat-error *ngIf="facPlacements.touched && facPlacements.dirty">Please Enter Percentage</mat-error> -->

                      </mat-form-field>

                      <mat-form-field appearance="outline">
                        <mat-label>UW Premium </mat-label>
                        <input readonly matInput  [value]="fac.fpd_PREM" placeholder="Enter Rate" />
                        <!-- <mat-error *ngIf="facPlacements.touched && facPlacements.dirty">Please Enter Rate</mat-error> -->
                      </mat-form-field>

                      <!-- <mat-form-field appearance="outline">
                        <mat-label>FAC Rate </mat-label>
                        <input matInput [formControlName]="4" placeholder="FAC Rate" />
                        <mat-error *ngIf="facPlacements.touched && facPlacements.dirty">Please Enter FAC Rate</mat-error>
                      </mat-form-field> -->
      
                      <mat-form-field appearance="outline">
                        <mat-label>FAC SI </mat-label>
                        <input readonly matInput [value]="fac.fpd_FAC_SI" placeholder="Enter SI" />
                        <!-- <mat-error *ngIf="facPlacements.touched && facPlacements.dirty">Please Enter SI</mat-error> -->
                      </mat-form-field>
      
      
                      <mat-form-field appearance="outline">
                        <mat-label>FAC Premium </mat-label>
                        <input readonly matInput [value]="fac.fpd_FAC_PREM" placeholder="FAC Premium" />
                        <!-- <mat-error *ngIf="facPlacements.touched && facPlacements.dirty">Please Enter FAC Premium</mat-error> -->
                      </mat-form-field>


                      <mat-checkbox class="custom-checkbox"  color="primary" checked>
                        Accounting to Broker Y/N
                      </mat-checkbox>

                      <mat-checkbox class="custom-checkbox" color="primary" checked>
                        Place Wise Accounting
                      </mat-checkbox>
                      <!-- <mat-error *ngIf="facPlacements.touched && facPlacements.dirty">Please Enter FAC Premium</mat-error> -->
                    </div>
                    <div class="btn-container">
                      <!-- <button [ngClass]="facForm.invalid ? 'invalid-btn' : 'save-btn'" [disabled]="facForm.invalid"  > <i class="fa-solid fa-floppy-disk"></i></button>  -->
                      <!-- <button class="invalid-btn" disabled="true"> <i class="fa-solid fa-floppy-disk"></i></button>  -->
                      <!-- <button *ngIf="!isSinglePlacement" class="save-btn" (click)="addFacPlacement();">
                        <i class="fa-solid fa-plus"></i>
                      </button> -->
                      <!-- <button  class="save-btn"  (click)="closePanelFacPlacement(i);">
                        <i class="fa-solid fa-trash"></i>
                      </button> -->
                    </div>
                  </div>
              
              </div>
            </div>
          
            <!-- Submit & Add New Button -->
            
          </div>
          <div class="second-container">
            <mat-expansion-panel class="mat-panel" *ngFor="let fac of participantData.controls; let idx = index" [expanded]="idx === activaPanel" 
            (opened)="onpanelOpen(idx)">
              <mat-expansion-panel-header>
                <mat-panel-title><span class="participant-heading"> FAC Participant Details</span> </mat-panel-title>
                <!-- <mat-panel-description> Click to expand/collapse </mat-panel-description> -->
              </mat-expansion-panel-header>
             <div class="Participant-container">
              <div class="participant-first-container">
                <form [formGroup]="participantForm">
                  <div formArrayName="participantData">
                    <div [formArrayName]="idx">
                      <div class="form-group row">

                        <mat-form-field appearance="outline">
                          <mat-label>Participant Code</mat-label>
                          <mat-select [formControlName]="0" panelClass="custom-dropdown">
                            <mat-option *ngFor="let option of participantCode" [value]="option.participantCode">
                              {{ option.participantCode}}
                            </mat-option>
                          </mat-select>
                          <mat-error *ngIf="participantData.errors?.['required']  || (participantData.touched && participantData.dirty)">
                            Please select a Participant Code
                          </mat-error>
                         </mat-form-field>
        
                        <mat-form-field appearance="outline">
                          <mat-label>Broker Code</mat-label>
                          <mat-select [formControlName]="1" panelClass="custom-dropdown">
                            <mat-option *ngFor="let option of brokerCode" [value]="option.brokerCode">
                              {{ option.brokerCode }}
                            </mat-option>
                          </mat-select>
                          <mat-error *ngIf="participantData.errors?.['required']  || (participantData.touched && participantData.dirty)">
                            Please select a Broker Code
                          </mat-error>
                        </mat-form-field>
        
                        <mat-form-field appearance="outline">
                          <mat-label>Participant Perc</mat-label>
                          <input matInput [formControlName]="2"  placeholder="Participant Percentage" (input)="participantPercentage($event,idx)" />
                           
                          <mat-error *ngIf="participantData.errors?.['required']  || (participantData.touched && participantData.dirty)">
                            Participant Percentage should be between 0 and 100.
                          </mat-error> 
                          <!-- <mat-error *ngIf="participantData.errors?.['percentage']  || (participantData.touched && participantData.dirty)">
                            Participant Percentage should be between 0 and 100.
                          </mat-error> -->
                        </mat-form-field>
        
                        <mat-form-field appearance="outline">
                          <mat-label>SI </mat-label>
                          <input matInput [formControlName]="3" placeholder="Enter SI" />
                          <mat-error *ngIf="participantData.errors?.['required']  || (participantData.touched && participantData.dirty)">
                            Please Enter SI
                          </mat-error>
                        </mat-form-field>
        
                        <mat-form-field appearance="outline">
                          <mat-label>Premium </mat-label>
                          <input matInput [formControlName]="4" placeholder="Enter Premium" />
                          <mat-error *ngIf="participantData.errors?.['required']  || (participantData.touched && participantData.dirty)">
                            Please Enter Premium
                          </mat-error>
                        </mat-form-field>
        
                        <mat-form-field appearance="outline">
                          <mat-label>Over Premium </mat-label>
                          <input matInput [formControlName]="5" placeholder="Enter Over Premium" (selectionchange)="updatePercentageParticipant($event)" />
                          <mat-error *ngIf="participantData.errors?.['required']  || (participantData.touched && participantData.dirty)">
                            Please Enter Over Premium
                          </mat-error>
                        </mat-form-field>
                        
                       </div>
                     <div>
                      
                      <div *ngIf="$fpSysId != null" class="commission-container">
                        <mat-expansion-panel *ngFor="let fac of commissionData.controls; let i = index" [expanded]="i === commissionActivePanel" 
                        (opened)="commissionPanelOpen(i)">
                          <mat-expansion-panel-header>
                            <mat-panel-title><span class="participant-heading">Commission details</span> </mat-panel-title>
                            <!-- <mat-panel-description> Click to expand/collapse </mat-panel-description> -->
                          </mat-expansion-panel-header>
                         <div class="Participant-container">
                          <div class="participant-first-container">
                            <form [formGroup]="commissionForm">
                              <div formArrayName="commissionData">
                                <div [formArrayName]="i">
                                  <div class="form-group row">
                                    <mat-form-field appearance="outline">
                                      <mat-label>Commission Code</mat-label>
                                      <mat-select [formControlName]="0" panelClass="custom-dropdown">
                                        <mat-option *ngFor="let option of commission" [value]="option.commissionCode">
                                          {{ option.commissionCode }}
                                        </mat-option>
                                      </mat-select>
                                      <mat-error *ngIf="commissionData.errors?.['required']  || (commissionData.touched && commissionData.dirty)">
                                        Please select a Commission Code
                                      </mat-error>
                                    </mat-form-field>
                    
                                    <mat-form-field appearance="outline">
                                      <mat-label>Commission Type</mat-label>
                                      <mat-select [formControlName]="1" panelClass="custom-dropdown">
                                        <mat-option *ngFor="let option of commission" [value]="option.commissionType">
                                          {{ option.commissionType }}
                                        </mat-option>
                                      </mat-select>
                                      <mat-error *ngIf="commissionData.errors?.['required']  || (commissionData.touched && commissionData.dirty)">
                                        Please select a Commission Type
                                      </mat-error>
                                    </mat-form-field>
                    
                                   <mat-form-field appearance="outline">
                                     <mat-label>Commission Per </mat-label>
                                     <input matInput [formControlName]="2" placeholder="Enter Percentage" (input)="commissionCalculation($event)" />
                                     <mat-error *ngIf="commissionData.errors?.['required']  || (commissionData.touched && commissionData.dirty)">
                                      Commission Percentage should be between 0 and 100. 
                                     </mat-error>
                                   </mat-form-field>
                    
                                   <mat-form-field appearance="outline">
                                     <mat-label>Commission Amount </mat-label>
                                     <input matInput [formControlName]="3" placeholder="Enter Amount" />
                                     <mat-error *ngIf="commissionData.errors?.['required']  || (commissionData.touched && commissionData.dirty)">
                                      Please Enter Commission Amount
                                    </mat-error>
                                   </mat-form-field>
                                   
                                  </div>
                                </div>
                              </div>
                            </form>
                          </div>
                     
                          <div class="btn-container">
                            <button *ngIf="isCommission" [ngClass]="commissionForm.invalid ? 'invalid-btn' : 'save-btn'" [disabled]="commissionForm.invalid"  (click)="commissionFormSubmit()"><i class="fa-solid fa-floppy-disk"></i></button> 
                            <button class="save-btn" (click)="addCommissionsFrom()">
                              <i class="fa-solid fa-plus"></i>
                            </button>
                            <!-- <button  class="save-btn" (click)="closeCommissions(i);">
                              <i class="fa-solid fa-trash"></i>
                            </button> -->
                          </div>
                         </div>
                        </mat-expansion-panel>
                      </div>

                        <!-- FAC Participant Details -->
        
                      <div *ngIf="$fpcSysId != null" class="tax-container">
                        <mat-expansion-panel *ngFor="let fac of taxData.controls; let index = index" [expanded]="index === taxActivePanel" 
                        (opened)="taxPanelOpen(index)">
                          <mat-expansion-panel-header>
                            <mat-panel-title><span class="participant-heading">Tax Details</span> </mat-panel-title>
                            <!-- <mat-panel-description> Click to expand/collapse </mat-panel-description> -->
                          </mat-expansion-panel-header>
                         <div class="Participant-container">
                          <div class="participant-first-container">
                            <form [formGroup]="taxForm">
                              <div formArrayName="taxData">
                                <div [formArrayName]="index">
                                  <div class="form-group row">
                                  
                                    <mat-form-field appearance="outline">
                                      <mat-label>Tax Details</mat-label>
                                      <mat-select [formControlName]="0" panelClass="custom-dropdown">
                                        <mat-option *ngFor="let option of tax" [value]="option.taxCode">
                                          {{ option.taxCode }}
                                        </mat-option>
                                      </mat-select>
                                      <mat-error *ngIf="taxData.errors?.['required']  || (taxData.touched && taxData.dirty)">
                                        Please select a Tax Details
                                      </mat-error>
                                    </mat-form-field>
                    
                                    <mat-form-field appearance="outline">
                                      <mat-label>Tax Type</mat-label>
                                      <mat-select [formControlName]="1" panelClass="custom-dropdown">
                                        <mat-option *ngFor="let option of tax" [value]="option.taxType">
                                          {{ option.taxType }}
                                        </mat-option>
                                      </mat-select>
                                      <mat-error *ngIf="taxData.errors?.['required']  || (taxData.touched && taxData.dirty)">
                                        Please select a Tax Type
                                      </mat-error>
                                    </mat-form-field>
                    
                                   <mat-form-field appearance="outline">
                                     <mat-label>Tax Perc </mat-label>
                                     <input matInput [formControlName]="2" placeholder="Enter Percentage" (input)="taxCalculation($event)" />
                                     <mat-error *ngIf="taxData.errors?.['required']  || (taxData.touched && taxData.dirty)">
                                      Tax Percentage should be between 0 and 100.
                                    </mat-error>
                                    <!-- <mat-error *ngIf="taxData.errors?.['percentage'] ">
                                      Tax Percentage should be between 0 and 100.
                                    </mat-error>  -->
                                   </mat-form-field>
                    
                                   <mat-form-field appearance="outline">
                                     <mat-label>Tax Amount </mat-label>
                                     <input matInput [formControlName]="3" placeholder="Enter Amount" />
                                     <mat-error *ngIf="taxData.errors?.['required']  || (taxData.touched && taxData.dirty)">
                                      Please Enter Tax Amount
                                    </mat-error>
                                   </mat-form-field>
                                  </div>
                                </div>
                              </div>
                            </form>
                          </div>
                     
                          <div class="btn-container">
                            <button *ngIf="isTax" [ngClass]="taxForm.invalid ? 'invalid-btn' : 'save-btn'" [disabled]="taxForm.invalid" (click)="taxFormSubmit()"><i class="fa-solid fa-floppy-disk"></i></button> 
                            <button  class="save-btn" (click)="addTaxForm()">
                              <i class="fa-solid fa-plus"></i>
                            </button>
                            <!-- <button  class="save-btn" (click)="closeTaxForm(i);">
                              <i class="fa-solid fa-trash"></i>
                            </button> -->
                          </div>
                         </div>
                        </mat-expansion-panel>
                      </div>
                     </div>
                    </div>
                  </div>
                </form>
              </div>
     
              <div class="btn-container">
                <button *ngIf="isParticipant" [ngClass]="participantForm.invalid ? 'invalid-btn' : 'save-btn'" [disabled]="participantForm.invalid" (click)="participantSubmitForm()"><i class="fa-solid fa-floppy-disk"></i></button> 
                <button  class="save-btn" (click)="addParticipant()">
                  <i class="fa-solid fa-plus"></i>
                </button> 
                <!-- <button  class="save-btn" (click)="closePanelParticipant(idx);">
                  <i class="fa-solid fa-trash"></i>
                </button> -->
              </div>
             </div>
            </mat-expansion-panel>
          </div>
        </mat-expansion-panel>
    </div>


    
 <ng-container *ngIf="getTablePolicyData  ; else noData " >
  <div *ngIf="riBtn ">
    <mat-tab-group (selectedIndexChange)="onTabChange($event)">
      <mat-tab *ngFor="let tab of tabs; index as i" [label]="tab">
      </mat-tab>
    </mat-tab-group>
  
    <div class="fac-cover-details" *ngIf="tabs[selectedTabIndex]">
      <div class="cover-container">
        <span class="cover-header">FAC Cover Details</span>
        <span class="cover-details">Risk Details</span>
      </div>
  
      <mat-accordion>
        <mat-expansion-panel *ngFor="let risk of risks[selectedTabIndex]['risks'] ; index as i ; trackBy: trackByFn" [expanded]="risks[selectedTabIndex]['risks'][i].expanded">
          <mat-expansion-panel-header>
            <div class="risk-header">
              <span class="risk-id">{{risk.frc_UR_RSK_ID}} - {{ risk.frc_RISK_TYP }}</span> 
              <span>{{ risk.description }}</span>
              <mat-chip><span style="color: #ffffff;">{{ risks[selectedTabIndex]['risks'][i].covers.length }} Covers</span></mat-chip>
            </div>
          </mat-expansion-panel-header>
  
          <!-- <div class="risk-description">{{ risk.description }}</div> -->
  
          <div class="cover-details">
            <mat-chip-set>
              <mat-chip *ngFor="let currency of risk.currencies" [removable]="true">
                <span style="color:#ffffff;">{{ currency == 'USD' ? 'SI currency ' + currency : 'Premium currency   ' + currency }}</span>
              </mat-chip>
            </mat-chip-set> 
  
            <table class="cover-table">
              <thead>
                <tr>
                  <th>Cover</th>
                  <th>Cover Description</th>
                  <th>CQS %</th>
                  <th>FAC %</th>
                  <th>TTY %</th>
                  <th>UW SI *</th>
                  <th>Premium *</th>
                  <!-- <th>UW Rate *</th> -->
                  <!-- <th>Rate Y/N *</th> -->
                  <!-- <th>FAC Rate *</th> -->
                  <th>FAC SI *</th>
                  <th>FAC Prem *</th>
                  <th>FAC Ref No *</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let cover of risk.covers; index as idx">
                  <!-- Cover -->
                  <td>{{ idx + 1 }}</td>
                  <!-- Cover Description -->
                  <td><b>{{ cover.frc_CVR_CODE }}</b></td>
                  <!-- CQS % -->
                  <td>{{ cover.cqs }}</td>
                  <!-- FAC % -->
                  <td>
                    <ng-container *ngIf="facData[selectedTabIndex]?.[idx]?.[i] as cell">
                      <mat-form-field style="width: 100px;" appearance="outline">
                        <input 
                          matInput 
                          [(ngModel)]="cell.frc_FAC_RATE" 
                          (ngModelChange)="updateFACPercentage($event, selectedTabIndex, idx, i)"
                        />
                      </mat-form-field>
                    </ng-container>
                    <mat-error *ngIf="(percentageAll && percentageValidationToAll?.percentage)">Participant Percentage should be between 0 and 100.</mat-error>
                  </td>
                  <!-- TTY % -->
                  <td>{{ cover.tty }}</td>
                  <!-- UW SI  -->
                  <td><mat-form-field appearance="outline"><input readonly matInput [value]="cover.frc_SI"></mat-form-field></td>
                  <!-- Premium -->
                  <td><mat-form-field appearance="outline"><input readonly matInput [value]="cover.frc_PREM"></mat-form-field></td>
                  <!-- UW Rate -->
                  <!-- <td><mat-form-field appearance="outline"><input matInput [value]="cover.uwRate"></mat-form-field></td> -->
                  <!-- Rate Y/N -->
                  <!-- <td><mat-checkbox class="custom-checkbox" [checked]="cover.rateYn"></mat-checkbox></td> -->
                  <!-- FAC Rate -->
                  <!-- <td><mat-form-field appearance="outline"><input matInput [value]="cover.facRate"></mat-form-field></td> -->
                  <!-- FAC SI -->
                  <td><mat-form-field appearance="outline"><input readonly matInput [value]="cover.frc_FAC_SI"></mat-form-field></td>
                  <!-- FAC Prem -->
                  <td><mat-form-field appearance="outline"><input readonly matInput [value]="cover.frc_FAC_PREM"></mat-form-field></td>           
                   <!-- FAC Ref No -->
                  <td>
                    <mat-form-field  class="fac-select" appearance="outline">
                      <mat-select name="" [value]="this.facData[selectedTabIndex]?.[idx]?.[i]?.frc_PLACE_REF_NO"  (selectionChange)="numberGenerator($event); updateFACRefNo($event.value, selectedTabIndex , idx , i , cover)">
                        <mat-option *ngFor="let item of facRefNo" [value]="item">
                          {{item}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </td>
                  <td>
                    <button mat-icon-button class="save-btn" (click)="singleCoverUpdate(cover)">
                      <i class="fa-solid fa-floppy-disk"></i>
                    </button> 
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="action-buttons">
            <button (click)="saveAllCovers()" class="save">Save all</button>
            <button  class="close-btn">Close</button>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <div class="btn-container">
        <button *ngIf="isSaveAll" [ngClass]="isProcess ? 'invalid-process-btn' : 'process-btn'" [disabled]="isProcess" (click)="getProcessDataHandler()">
          Process →
        </button>
        <button *ngIf="isProcess" class="back-btn" (click)="getPlacementData()">FAC Placement Details →</button>
      </div>
    </div>
  </div>
 </ng-container>

  </div>

  <ng-template #noData>
    <div class="no-data">
      <img src="assets/images/no-image.png" alt="no-image" />
    </div>
  </ng-template>
  <app-loading *ngIf="loadingCheck" ></app-loading>