<!-- <div class="app-container">
    <div>
      <app-side-menu></app-side-menu>
    </div>
    <div class="main-content">
      <app-header></app-header>
      <div class="content-body">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
   -->
   <!-- <div style="display: flex;">
    <app-side-menu></app-side-menu>
    <div style="width:calc(100%  - 250px); margin-left: 250px;">
      <app-header></app-header>
      <div style="margin-top: 10px; padding: 15px 30px;">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div> -->
  <div style="margin-top: 10px; padding: 15px 20px;"><router-outlet></router-outlet></div>