<div class="dialog-container">
    <div class="icon">
      <!-- <mat-icon color="primary">info</mat-icon> -->
    </div>
    <h2 class="title">Approval Status</h2>
    
    <div class="content">
      <p><strong>Error Code</strong> : <span [ngClass]="data.errorCode == 'FAILED' ? 'error-code' : 'field'">{{ data.errorCode }}</span></p>
      <p><strong>Message</strong> : <span class="message">{{ data.errorMessage }}</span></p>
      <p><strong>Status</strong> : <span [ngClass]="data.approvalStatus > 0 ? 'field' : 'error-code'" class="field">{{ data.approvalStatus }}</span></p>
    </div>
  
    <div class="actions">
      <button mat-raised-button color="primary" (click)="closeDialog()">Ok</button>
    </div>
  </div>
  