@import './shared-style/color.scss';
@import 'ngx-toastr/toastr';

.toast-success {
  background-color: #28a745 !important;
}

.toast-error {
  background-color: #dc3545 !important;
}

.toast-warning {
  background-color: #ffc107 !important;
}

.toast-info {
  background-color: #17a2b8 !important;
}
.no-data {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

  .mat-mdc-checkbox.custom-checkbox {
    .mdc-checkbox__background {
      border-color: $purple-btn !important;
    }
  
    .mdc-checkbox__native-control:checked + .mdc-checkbox__background {
      background-color: $purple-btn !important;
      border-color: $purple-btn !important;
    }
  
    .mdc-checkbox__checkmark {
      background-color:$purple-btn ;
      color: white !important;
    }
  
    .mdc-label {
      font-size: 14px;
      color: #333 !important;
    }
  }

  // mat Input border radius
  .mdc-text-field--outlined {
    --mdc-outlined-text-field-container-shape: 10px !important;
  }
.mdc-checkbox__background{
  border-radius: 5px !important;
}

// .mat-expansion-panel-body{
//   display: flex !important;
// }
html, body { height: 100%; overflow-x: hidden; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
